*{
  margin :0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato',sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.home,.report,.products{
  display: flex;
  height: 90vh;
  align-content: center;
  justify-content: center;
  font-size: 3rem;
}